/* Testimonials */
.testimonials {
  width: 100%;
  margin: 90px 0;
  padding: 0 100px;
}

.testimonial-container {
  width: 100%;
  /* border: 3px dashed blue; */
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
}

.testimonial-container .testimony-hd {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
  flex-direction: column;
}

.testimony-hd h3 {
  font-size: 30px;
  color: var(--heading-color);
  margin-bottom: 10px;
}

.testimony-hd p {
  max-width: 500px;
  text-align: center;
  line-height: 24px;
  color: var(--h1-h3-txt-color);
  font-size: 16px;
}

.testimony {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  margin-top: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.testimony .testimony-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
  max-width: 380px;
}

.testimony #plan {
  height: 370px;
  width: 85%;
  /* border: 2px darkblue dashed; */
}

.testimony-img img {
  width: 100%;
  height: 100%;
}

.testimony .testimony-txt {
  width: 100%;
  max-width: 600px;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.testimony-txt .testimony-hd {
  margin-bottom: 15px;
  max-width: 400px;
  line-height: 36px;
}

.testimony-txt .testimony-hd h3 {
  font-size: 28px;
}

.testimony-txt blockquote {
  margin-bottom: 20px;
  max-width: 500px;
  line-height: 27px;
  /* height: 50px; */
  /* border: 2px solid green; */
  text-transform: capitalize;
  font-weight: 530;
}

.testimony-txt blockquote #tech-speech {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.testimony-txt .testimony-user-info {
  width: 100%;
  /* border: 2px solid red; */
  /* padding: 8px 0; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  height: 45px;
}

.testimony-user-info a {
  padding: 13px 35px;
  border: 0;
  outline: 0;
  background-color: var(--main-blue);
  color: white;
  font-size: 17px;
}

.testimony-user-info a:hover {
  background-color: #2a3397;
  transition: all 0.15s linear;
}

.testimony-user-info .border-left {
  height: 100%;
  width: 3px;
  background-color: var(--h1-h3-txt-color);
  /* border: 2px solid red; */
}

.user-info h4 {
  color: var(--h1-h3-txt-color);
  font-size: 17px;
  margin-bottom: 2px;
}

.user-info small {
  font-size: 13px;
  font-weight: 450;
  color: var(--h1-h3-txt-color);
}
